################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/TSA.TWF.Data/Data/bin/Debug/netcoreapp2.0
/Common/TSA.TWF.Data/Data/obj
*.lock
